doctype html
html(lang="en")
    head
        meta(charset = "utf-8")
        title VR/AR Interaction and Environment Design
        meta(name    = "author"
             content = "Peter Varo")
        meta(name    = "viewport"
             content = "width=device-width," +
                        "initial-scale=1.0," +
                        "maximum-scale=1.0," +
                        "user-scalable=no,"  +
                        "minimal-ui")
        link(rel  = "stylesheet"
             href = "reveal/css/reveal.css")
        link(rel  = "stylesheet"
             href = "reveal/css/theme/black.css"
             id   = "theme")

        // Color syntax highlighting
        link(rel  = "stylesheet"
             href = "reveal/lib/css/zenburn.css")
             
        style.
            #fg-yellow-1 *,
            #fg-yellow-2
            {
                color : #FFFF00;
            }
        // Printing and PDF exports
        script.
            var link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.type = 'text/css';
            link.href =
                window.location.search.match(/print-pdf/gi) ? 'reveal/css/print/pdf.css'
                                                            : 'reveal/css/print/paper.css';
            document.getElementsByTagName('head')[0].appendChild(link);

        //[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]
    body
        div(class="reveal")
            div(class="slides")
                include slides/000
                include slides/001
                include slides/002
                include slides/003
                include slides/004
                include slides/005
                include slides/006
                include slides/007
                include slides/008
                include slides/009
                    
        script(src="reveal/lib/js/head.min.js")
        script(src="reveal/js/reveal.js")
        script.
            Reveal.initialize(
            {
                controls    : true,
                progress    : true,
                history     : true,
                center      : true,
                transition  : 'slide',
                slideNumber : 'c / t',
                dependencies:
                [
                    { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'reveal/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'reveal/plugin/zoom-js/zoom.js', async: true },
                    { src: 'reveal/plugin/notes/notes.js', async: true }
                ]
            });
