section(data-background="img/bg-000.jpg")
    div#fg-yellow-1
        h2
            | VR / AR
            br/
            | Interaction
            br/
            | and
            br/
            | Environment
            br/
            | Design
            br/
            | &mdash;
            br/
        p
            | Peter Varo &copy; 2015
            br/
            | Zsennye Design Workshop
