section(data-background="img/bg-001.png")
    h2
        | About Me
        br/
        | &mdash;
        br/
    h4
        | Peter Varo
        br/
        | Creative Developer
        br/
        | &mdash;
        br/
    p Working at Kitchen Budapest
    p Researcher, Developer and Mentor
    p &mdash;
    p Teaching at Mohol-Nagy Univeristy of Art and Design
    p 3D modeling and Rapid Prototyping
