section
    section(data-background="img/bg-002-a.jpg")
        h2
            | What this presention is not?
            br/
            | &mdash;
            br/
        i.fragment This presention is not...
        p.fragment ...a manual nor a tutorial nor a how-to guide
        p.fragment ...a scientific treatise of any sort
        p.fragment ...trying to convince you about anything
        p.fragment ...an indoctrination nor the ultimate truth
    section(data-background="img/bg-002-b.jpg")
        h2
            | What this presentation is?
            br/
            | &mdash;
            br/
        i.fragment This presentation is...
        p.fragment ...a report on my impressions of technology and design
        p.fragment ...just a bunch of loosely connected thoughts
        p.fragment ...mostly my own visions, opinions and advices
        p.fragment ...hopefully thought-provoking for others
        br/
        i.fragment ...nevertheless a "told-you-so" reference for me :)
