section
    section(data-background="img/bg-003-a.png")
        h2
            | The purpose of a designer
            br/
            | &mdash;
            br/
        p.fragment
            | &ldquo;Create a controlled environment
            br/
            | to make the user's life easier.&rdquo;
    section(data-background="img/bg-003-b.png")
        h2
            | How to actually
            br/
            | achieve that?
            br/
            | &mdash;
            br/
        p.fragment Designers have to be users.
        p.fragment Designers have to be early users.
        p.fragment
            | Designers have to be the creators and
            br/
            | early users at the same time.
        div.fragment
            i ...therefore...
            p
                | Designers have to experiment
                br/
                | with the bleeding edge&nbsp;
                span(style="padding-bottom: 0.2em;" +
                           "border-bottom: 0.1em solid white") technology!
