section
    section(data-background="img/bg-004-a.png")
        h2 The geek artist
        p
            | Is this&nbsp;
            i &ldquo;the new thing&rdquo;
            | &nbsp;?
        p.fragment
            b Hell no!
            blockquote
                p.
                    &ldquo;
                    Invention has a long and important history in the arts.
                    Inventive thinking has always played a vital role in
                    the creative process.
                    &rdquo;

    section(data-background="img/bg-004-b.jpg")
        h2
            | Tim's Vermeer,
            br/
            | the geek
        p Still have doubts?
        div.fragment
            p A friend of Penn &amp; Teller
            p has made a great discovery about
            p the great dutch painter Vermeer

    section(data-background-video="video/bg-004-c.mp4,video/bg-004-c.webm")
        // Play the video...
        h2.fragment
            | Was he an artist?
            br/
            | Was he a cheater?
            br/
        h2.fragment
            | He was a hacker.
            br/
            | He was a designer.
