section
    section(data-background="img/bg-005-a.jpg")
        h2
            | Bleeding edge today:
            br/
            | HW & SW combined
            br/
            | &mdash;
            br/
        p Designers should participate in and
        p experiment with these technologies:
        p.fragment 3D printing
        p.fragment Smart wearables
        p.fragment Internet of Things (IoT)
        p.fragment Virtual Reality (VR)
        
    section(data-background="img/bg-005-b.jpg")
        h2
            | Bill Moggridge case:
            br/
            | The GRiD Compass
            br/
            | &mdash;
        p Designing the first laptop ever
        p and facing the consequences.
        
    section(data-background-video="video/bg-005-c.mp4,video/bg-005-c.webm")
        // Play the video...
        h2.fragment
            | This was almost
            br/
            | 35 years ago!

    section(data-background="img/bg-005-d.png")
        h2
            | Simplicity has to die
            br/
            | &mdash;
            br/
        p.fragment We are not designing &ldquo;simple&rdquo; objects anymore
        p.fragment
            | Simplicity always have hidden costs:
            br/
            | Comfort vs. Speed/Efficiency and/or Loosing Control
        p.fragment
            | Teach your users complex use-cases!
            br/
            | Stop the &ldquo;dummification&rdquo;!
        p.fragment
            | Neither&nbsp;
            span(style="padding-bottom: 0.2em;" +
                       "border-bottom: 0.1em solid white") oversimplified
            | &nbsp;nor&nbsp;
            span(style="padding-bottom: 0.2em;" +
                       "border-bottom: 0.1em solid white") overcomplicated
            | !
        p.fragment
            br/
            i The only problem is...
            br/
            | No one ever taught designers
            br/
            | how to do these things
