section
    section(data-background="img/bg-006-a.jpg")
        h2
            | Virtual and/or
            br/
            | Augmented Reality
            br/
            | &mdash;
    
    section(data-background-video="video/bg-006-b.mp4,video/bg-006-b.webm")
        // Play the video...
        h2.fragment
            | This is just the
            br/
            | tip of the iceberg!
    
    section(data-background="img/bg-006-c.jpg")
        h2
            | Not yet fully discovered,
            br/
            | tons of potentials
            br/
            | &mdash;
            br/
        
    section(data-background="img/bg-006-d.jpg")
        h2
            | How is it different than the
            br/
            | &ldquo;low-cost 3D printer revolution&rdquo;?
            br/
            | &mdash;
            br/
        p.fragment Even at this &ldquo;early&rdquo; stage it is awesome
        p.fragment Supported by huge companies support
        p.fragment Supported by the whole game industry
        p.fragment 
