section
    section(data-background="img/bg-008-a.jpg")
        h2
            | Do you speak code?
            br/
            | &mdash;
            br/
        
    section(data-background="img/bg-008-b.jpg")
        h2
            | The Zen of Python
            br/
            | &mdash;
            br/
        blockquote(style="text-align:justify")
            span.fragment &#9679; Beautiful is better than ugly.&nbsp;
            span.fragment &#9679; Explicit is better than implicit.&nbsp;
            span.fragment &#9679; Simple is better than complex.&nbsp;
            span.fragment &#9679; Complex is better than complicated.&nbsp;
            span.fragment &#9679; Flat is better than nested.&nbsp;
            span.fragment &#9679; Sparse is better than dense.&nbsp;
            span.fragment &#9679; Special cases aren't special enough to break the rules.&nbsp;
            span.fragment &#9679; Although practicality beats purity.&nbsp;
            span.fragment &#9679; There should be one &mdash; and preferably only one &mdash; obvious way to do it.&nbsp;
            span.fragment &#9679; If the implementation is hard to explain, it's a bad idea.&nbsp;
            span.fragment &#9679; If the implementation is easy to explain, it may be a good idea.

    section
        h2 Computer is an artform not yet truly discovered!
        p Bret Victor - don't draw dead fish
