section
    section
        h2
            | Summary
            br/
            | &mdash;
            br/
        p.fragment Be a geek!
        p.fragment Experiment!
        p.fragment Learn to code!
        p.fragment Create complex objects!
        p.fragment 
        
    section(data-background="img/bg-009-b.jpg")
        h2#fg-yellow-2 Kudos
